[package]
name = "redoxer"
version = "0.2.30"
description = "Method for quickly running programs inside of Redox from a KVM capable OS."
license = "MIT"
authors = ["Jeremy Soller <jackpot51@gmail.com>"]
repository = "https://gitlab.redox-os.org/redox-os/redoxer"
edition = "2018"

[dependencies]
dirs = "4.0.0"
redox_installer = "0.2.12"
redox_syscall = "0.2.16"
redoxfs = "0.5.4"
tempfile = "3.4.0"
toml = "0.7.2"

[target.'cfg(target_os = "linux")'.dependencies]
proc-mounts = "0.3.0"
